<section id="sec-categorias" style="display:none;">
    <div class="section-header">
        <h2>Gestión de Categorías</h2>
    </div>
    <div class="card">
        <form id="formCategoria">
            <div class="form-group">
                <label><i class="fa-solid fa-folder-plus"></i> Nueva Categoría</label>
                <input type="text" name="nombre" placeholder="Ej: Seguridad, Redes, Alarmas..." required>
            </div>
            <button type="submit" class="btn-submit">Registrar Categoría</button>
        </form>
    </div>
    <div id="msgCategoria"></div>
</section>