<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaInventy | Gestión Inteligente</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/mi-logo.png') }}">
</head>
</head>
<body>
    <div class="app-container">
        
        <!-- Sidebar lateral -->
        {% include 'components/sidebar.html' %}

        <main class="main-content">
            
            {% include 'secciones/sec_dashboard.html' %}
    
            {% if session['rol'] in ['Jefe', 'Administrador'] %}
                {% include 'secciones/sec_categorias.html' %}
                {% include 'secciones/sec_productos.html' %}
            {% endif %}

            {% include 'secciones/sec_catalogo.html' %}
            {% include 'secciones/sec_ventas.html' %}

            {% if session['rol'] == 'Jefe' %}
                {% include 'secciones/sec_reportes.html' %}
                {% include 'secciones/sec_operaciones.html' %}
                {% include 'secciones/sec_personal.html' %}
            {% endif %}

        </main>
    </div> 
    
    <!-- Modal de producto -->
    {% include 'components/modal_producto.html' %}

    <!-- Panel de IA -->
    {% include 'components/panel_ia.html' %}
    
    <script src="{{ url_for('static', filename='js/modules/ventas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/catalogo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/reportes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/ia.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/personal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/operaciones.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <script>
        window.onclick = function(event) {
            let modal = document.getElementById("modalProducto");
            if (event.target == modal) {
                cerrarModal();
            }
        }
        function cerrarModal() {
            document.getElementById("modalProducto").style.display = "none";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>