<div id="modalProducto" class="modal">
    <div class="modal-content card">
        <div class="modal-header">
            <h2 id="modalTitulo">Detalles del Equipo</h2>
            <span class="close-modal" onclick="cerrarModal()">&times;</span>
        </div>
        
        <form id="formEdicionRapida">
            <input type="hidden" id="edit_id">
            <div class="form-grid">
                <div class="form-group full-width">
                    <label>Nombre del Producto</label>
                    <input type="text" id="edit_nombre" required>
                </div>
                <div class="form-group">
                    <label>Categoría</label>
                    <select id="edit_categoria" required>
                        </select>
                </div>
                <div class="form-group">
                    <label>Stock Actual</label>
                    <input type="number" id="edit_stock" required>
                </div>
                <div class="form-group">
                    <label>Precio Compra (S/)</label>
                    <input type="number" step="0.01" id="edit_p_compra">
                </div>
                <div class="form-group">
                    <label>Precio Venta (S/)</label>
                    <input type="number" step="0.01" id="edit_p_venta">
                </div>
                <!-- Imagen del producto -->
                <div class="form-group full-width" id="seccionImagen">
                    <label>Imagen del Producto</label>
                    <div class="contenedor-imagen">
                        <img id="preview_imagen" src="" alt="Sin imagen"
                            style="display:none;">
                        <div id="placeholder_imagen">
                            <i class="fa-solid fa-image" style="font-size:24px;"></i>
                        </div>
                        <div class="upload-box">
                            <input type="file" id="input_imagen"
                                accept=".jpg,.jpeg,.png,.webp"
                                style="display:none;"
                                onchange="previewImagen(this)">
                            <button type="button"
                                onclick="document.getElementById('input_imagen').click()"
                                class="btn-submit">
                                <i class="fa-solid fa-upload"></i>
                                Subir imagen
                            </button>
                            <p id="nombre_imagen"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="btnContenedorEdicion" style="margin-top: 20px;">
            </div>
        </form>
    </div>
</div>